.nav-top {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  padding: 0;
}

.navbar-brand {
  padding-left: 60px;
  padding-bottom: 10px;
  margin: 0;
}

.navbar-toggler {
  position: relative;
  width: 20px;
  height: 17px;
  margin: 0 14px;
  padding: 0;
}

.navbar-toggler span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
}

.navbar-toggler span:nth-of-type(1) {
  top: 0px;
}

.navbar-toggler span:nth-of-type(2) {
  top: 6px;
}

.navbar-toggler span:nth-of-type(3) {
  bottom: 0;
}

.title {
  font-family: "Garamond";
  font-size: 36px;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 13px;
  font-family: "Segoe UI";
  padding: 29px 0px;
  margin: 0 10px;
}

.dropdown-menu {
  background-color: black;
  padding: 0;
  margin: 0;
}

.nav-link:hover,
.dropdown-menu:hover,
#navbarDropdown:hover {
  color: lightgray;
}

.dropdown-item {
  color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI";
  padding: 15px 36px 15px 15px;
}

.dropdown-item:hover {
  background-color: rgba(184, 135, 11, 0.555);
  color: #ffffff;
}

button:focus {
  outline: none;
}

@media (max-width: 991px) {
  .navbar {
    height: 60px;
    background-color: black;
  }

  .navbar-brand {
    padding: 0 60px;
  }

  div.nav-top {
    height: 52px;
    padding: 11px;
  }

  .nav-item {
    background-color: black;
  }
}

@media (max-width: 767px) {
  .title_name {
    width: 110px;
    height: 18px;
  }

  .navbar-brand {
    padding: 0 30px;
  }
}
