.nav-top {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  padding: 0;
  z-index: 1;
}

.navbar-brand {
  padding-left: 60px;
  padding-bottom: 10px;
  margin: 0;
}

.navbar-toggler {
  position: relative;
  width: 20px;
  height: 17px;
  margin: 0 14px;
  padding: 0;
}

.navbar-toggler span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
}

.navbar-toggler span:nth-of-type(1) {
  top: 0px;
}

.navbar-toggler span:nth-of-type(2) {
  top: 6px;
}

.navbar-toggler span:nth-of-type(3) {
  bottom: 0;
}

.title {
  font-family: "Garamond";
  font-size: 36px;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 13px;
  font-family: "Segoe UI";
  padding: 29px 0px;
  margin: 0 10px;
}

.dropdown-menu {
  background-color: black;
  padding: 0;
  margin: 0;
}

.nav-link:hover,
.dropdown-menu:hover,
#navbarDropdown:hover {
  color: lightgray;
}

.dropdown-item {
  color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI";
  padding: 15px 36px 15px 15px;
}

.dropdown-item:hover {
  background-color: rgba(184, 135, 11, 0.555);
  color: #ffffff;
}

button:focus {
  outline: none;
}

.page_top_image {
  height: 600px;
  width: 100%;
  background-image: url(coffee4.jpg);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  margin-top: -80px;
}

.page_top_text {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
}

.page_top_title {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  width: 250px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  top: 540px;
  margin: 0;
  background-color: black;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .navbar {
    height: 60px;
    background-color: black;
  }

  .navbar-brand {
    padding: 0 60px;
  }

  div.nav-top {
    height: 52px;
    padding: 11px;
  }

  .nav-item {
    background-color: black;
  }

  .page_top_image {
    height: 520px;
    margin-top: -60px;
  }

  .page_top_text {
    top: 180px;
  }

  .page_top_title {
    top: 460px;
  }
}

@media (max-width: 767px) {
  .title_name {
    width: 110px;
    height: 18px;
  }

  .navbar-brand {
    padding: 0 30px;
  }

  .page_top_image {
    height: 400px;
    width: 100%;
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-top: -80px;
  }

  .page_top_text {
    font-size: 25px;
  }

  .page_top_text {
    font-size: 18px;
    top: 180px;
    line-height: 24px;
  }

  .page_top_title {
    top: 335px;
    font-size: 20px;
    width: 180px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
  }
}
