main {
  font-family: "Segoe UI", Verdana, "游ゴシック", "YuGothic",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

main #talk {
  padding: 10px 0;
  background-color: rgb(97, 149, 218);
}

main .text-outer {
  display: flex;
  margin: 0 8px 8px 0;
}

main .text-you-outer {
  margin-right: 60px;
}

main .text-you-outer .name {
  color: #f5f5f5;
  font-size: 14px;
}

main .text {
  margin: 4px 14px 0 10px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  font-weight: 500;
}

main .text-me-outer {
  flex-direction: row-reverse;
  margin-left: 40px;
}

main .text-me {
  background-color: #ccff99;
}

main .text::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-radius: 50%;
}

main .text::after {
  content: "";
  position: absolute;
  top: -24px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid rgb(97, 149, 218);
  border-bottom: 16px solid transparent;
  border-radius: 50%;
}

main .text-you::before {
  left: -10px;
  border-top: 12px solid #fff;
  transform: rotate(-134deg);
}

main .text-you::after {
  left: -14px;
  transform: rotate(-135deg);
}

main .text-me::before {
  right: -10px;
  border-top: 12px solid #ccff99;
  transform: rotate(134deg);
}

main .text-me::after {
  right: -14px;
  transform: rotate(135deg);
}

main .text-me-outer .read {
  margin-bottom: 16px;
}

.date-outer {
  text-align: center;
}

main .date {
  color: #fff;
  font-size: 12px;
  background-color: rgba(121, 120, 120, 0.329);
  padding: 2px 20px;
  margin: 12px 0 4px;
  border-radius: 20px;
  display: inline-block;
}

main .clock {
  color: #f5f5f5;
  font-size: 12px;
  margin-top: auto;
  white-space: nowrap;
  text-align: right;
}

main .icon-you {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 6px;
}
