body {
  font-family: "Times New Roman", "Segoe UI", Verdana, "游ゴシック", "YuGothic",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  padding: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
}

header .navbar {
  height: 100%;
  padding: 0%;
}

header .nav-outer {
  height: 100%;
}

header .nav-brand {
  padding: 0 60px;
  margin: 0;
  line-height: 76px;
  height: 100%;
}

header .nav-toggler {
  position: relative;
  width: 20px;
  height: 17px;
  margin: 0 14px;
  padding: 0;
}

header .nav-toggler span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

header .nav-toggler span:nth-of-type(1) {
  top: 0px;
}

header .nav-toggler span:nth-of-type(2) {
  top: 6px;
}

header .nav-toggler span:nth-of-type(3) {
  bottom: 0;
}

header .nav-title-name {
  font-family: "Garamond";
  font-size: 36px;
  color: #fff;
}

header .nav-link {
  color: #fff;
  font-size: 13px;
  font-family: "Segoe UI";
  line-height: 50px;
  margin: 0 10px;
}

header .nav-dropdown-menu {
  background-color: #000;
  padding: 0;
  margin: 0;
}

header .nav-link:hover,
.nav-dropdown-menu:hover,
#navbarDropdown:hover {
  color: lightgray;
}

header .nav-dropdown-item {
  color: #fff;
  font-size: 12px;
  font-family: "Segoe UI";
  padding: 15px 36px 15px 15px;
}

header .nav-dropdown-item:hover {
  background-color: rgba(184, 135, 11, 0.555);
  color: #fff;
}

header .nav-button:focus {
  outline: none;
}

#top .image-title {
  background-image: url(./img/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62vw;
  color: #fff;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  writing-mode: vertical-rl;
  margin: 0;
}

#top .topic-outer {
  background-color: #000;
  color: #fff;
  text-align: center;
  align-items: center;
  letter-spacing: 1px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 51px 0 71px;
}

#top .topic-upper {
  margin: 0 11% 10px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
#top .topic-below {
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  display: block;
  margin: 0 11%;
}

#describe-cafe {
  text-align: center;
  margin-top: 130px;
}

#describe-cafe .image-outer {
  display: flex;
  flex-wrap: wrap;
}

#describe-cafe .image-outer img {
  width: 25%;
}

#describe-cafe .text-outer {
  background-color: #f5f5f5;
  padding: 50px 31px;
}

#describe-cafe h2 {
  color: #442406;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#describe-cafe p {
  font-size: 14px;
  line-height: 36px;
}

#cards .card-outer {
  margin-top: 100px;
}

#cards .card {
  z-index: 0;
  border: none;
}

#cards .card-image-top {
  width: 100%;
}

#cards .triangle-hide {
  width: 160px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  height: 160px;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  color: #442406;
}

#cards .triangle-hide::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  border-width: 76px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

#cards .card-body {
  background-color: #f5f5f5;
  text-align: center;
}

#cards .desc-outer {
  font-size: 14px;
  line-height: 2.4;
}

#cards .card-btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  font-size: 14px;
  width: 200px;
  height: 56px;
  line-height: 54px;
  padding: 0 16px;
}

#cards .card-btn:hover {
  background-color: #442406;
}

#news-event {
  margin: 100px 0;
  padding: 60px 0;
  background-color: #f5f5f5;
}

#news-event .headline-outer {
  align-items: center;
  margin-bottom: 35px;
  display: flex;
}

#news-event .headline {
  font-size: 46px;
  font-weight: 500;
  margin: 0;
}

#news-event .subhead {
  font-size: 16px;
  margin-left: 16px;
}

#news-event .news-article:nth-child(n + 2) {
  border-top: none;
}

#news-event .news-article {
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 20px;
}

#news-event a {
  text-decoration: none;
}

#news-event .article-date {
  color: #999;
  font-size: 12px;
  line-height: 12px;
  display: block;
  margin-bottom: 10px;
}

#news-event .desc {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#news-event .list-link {
  font-size: 14px;
  text-align: right;
  color: #000;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
  transition: 0.2s;
}

#news-event .list-link:hover {
  color: #999;
}

#news-event .list-link::after {
  margin-left: 12px;
  content: "＞";
}

#news-event .event-article {
  background-color: #fff;
  border: solid 1px #ddd;
}

#news-event .event-article:nth-child(n + 2) {
  border-top: none;
}

#news-event .media {
  align-items: center;
}

#news-event .image-frame {
  height: 132px;
  margin: -1px;
  overflow: hidden;
}

#news-event .event-image {
  width: 207px;
  transition: 0.5s ease;
}

#news-event .event-image:hover {
  transform: scale(1.2);
}

#news-event .event-desc {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#news-event .media-body {
  padding: 0 20px;
}

#news-event .event-article-date {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  #cards .card-btn {
    width: 150px;
  }
}

@media (max-width: 991px) {
  header {
    height: 60px;
    background-color: #000;
    vertical-align: middle;
    position: static;
  }

  header .nav-brand {
    line-height: 58px;
  }

  header .nav-item {
    background-color: #000;
    padding: 0 60px;
  }

  header .nav-link {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767px) {
  header .nav-title-name {
    width: 110px;
    height: 18px;
  }

  header .nav-brand,
  .nav-item {
    padding: 0 20px;
  }

  header .nav-item {
    padding: 0 30px;
  }

  #top .image-title {
    font-size: 20px;
    line-height: 26px;
  }

  #top .topic-outer {
    margin: 0;
    padding: 32px 20px;
    letter-spacing: 0;
  }

  #top .topic-upper {
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 5px;
  }

  #top .topic-below {
    line-height: 2;
    margin: 0;
  }

  #describe-cafe {
    margin-top: 50px;
  }

  #describe-cafe .image-outer img {
    width: 50%;
  }

  #describe-cafe .text-outer {
    padding: 36px 24px;
  }

  #describe-cafe h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  #describe-cafe p {
    line-height: 2;
  }

  #cards .card-outer {
    margin-top: 50px;
  }

  #cards .card {
    margin-top: 20px;
  }

  #cards .card-btn {
    width: 180px;
    height: 46px;
    line-height: 44px;
    font-size: 12px;
  }

  #news-event .headline-outer {
    margin-bottom: 20px;
  }

  #news-event .headline {
    font-size: 22px;
  }

  #news-event .subhead {
    font-size: 14px;
  }

  #news-event .article-date {
    font-size: 10px;
  }

  #news-event .desc {
    font-size: 14px;
  }

  #news-event .list-link {
    margin: 16px 0;
  }

  #news-event .image-frame {
    display: none;
  }

  #news-event .media-body {
    padding: 20px;
    overflow: hidden;
  }

  #news-event .event-desc {
    font-size: 14px;
  }
}
